# see also test/files/.gitignore
#/.gitignore
#/test/files/.gitignore

*.jar
*~
/src/library/library.properties

# target directories for ant build
build
classes
scaladoc

# eclipse stuff
/src/eclipse/continuations-library/.cache
/src/eclipse/partest/.cache
/src/eclipse/reflect/.cache
/src/eclipse/scala-compiler/.cache
/src/eclipse/scala-library/.cache
/src/eclipse/scalap/.cache

# bak files produced by ./cleanup-commit
*.bak
